.pad-top-30 {
  padding-top: 30px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-bottom-60 {
  padding-bottom: 60px; }

.pad-top-60 {
  padding-top: 60px; }

@media (max-width: 991px) {
  .pad-top-sm-30 {
    padding-top: 30px; } }
@media (max-width: 767px) {
  .pad-top-xs-30 {
    padding-top: 30px; } }
@font-face {
  font-family: "Calibri light";
  src: url(css/font/Calibri/CalibriL.ttf); }
@font-face {
  font-family: "Calibri bold";
  src: url(css/font/Calibri/calibrib.ttf); }
body {
  font-family: "Calibri light"; }

#page-header {
  background-image: url("../image/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 1116px;
  position: relative;
  /* for small device navbar css*/
  /*----carousel CSS ----*/ }
  #page-header.small-hero-img {
    background-image: url("../image/hero-small.jpg");
    height: 500px; }
  @media (max-width: 767px) {
    #page-header.sm-page-header {
      background-image: url("../image/hero-small.jpg");
      height: 400px; } }
  @media (max-width: 767px) {
    #page-header.small-hero-img {
      height: 400px; } }
  #page-header .navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: white; }
  #page-header .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 16px;
    text-transform: uppercase; }
  #page-header .navbar-default .navbar-collapse,
  #page-header .navbar-default .navbar-form {
    padding-top: 27px; }
    @media (max-width: 767px) {
      #page-header .navbar-default .navbar-collapse,
      #page-header .navbar-default .navbar-form {
        padding-top: 0px; } }
  #page-header .navbar-toggle {
    float: right;
    margin-top: 25px; }
  #page-header .navbar-default .navbar-toggle:hover {
    background-color: white; }
  #page-header .navbar-default .navbar-nav > .active > a,
  #page-header .navbar-nav > li > a {
    text-align: center;
    background-color: transparent; }
  #page-header .navbar-default .navbar-nav > .active > a,
  #page-header .navbar-default .navbar-nav > .active > a:focus,
  #page-header .navbar-default .navbar-nav > .active > a:hover,
  #page-header .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    border-bottom: 5px solid #f76f7f; }
    @media (max-width: 767px) {
      #page-header .navbar-default .navbar-nav > .active > a,
      #page-header .navbar-default .navbar-nav > .active > a:focus,
      #page-header .navbar-default .navbar-nav > .active > a:hover,
      #page-header .navbar-default .navbar-nav > li > a:hover {
        border-bottom: 0; }
        #page-header .navbar-default .navbar-nav > .active > a span,
        #page-header .navbar-default .navbar-nav > .active > a:focus span,
        #page-header .navbar-default .navbar-nav > .active > a:hover span,
        #page-header .navbar-default .navbar-nav > li > a:hover span {
          border-bottom: 5px solid #f76f7f; } }
  #page-header #nav-pad {
    padding-top: 65px;
    border-spacing: 2px 0;
    border-bottom: 1px solid white; }
    #page-header #nav-pad li {
      margin-bottom: 5px; }
    @media (max-width: 767px) {
      #page-header #nav-pad {
        border-bottom: none; }
        #page-header #nav-pad li {
          margin-bottom: 0px; } }
  @media (max-width: 1199px) {
    #page-header .logo-img {
      width: 240px; }
    #page-header #nav-pad {
      padding-top: 30px; } }
  @media (max-width: 991px) {
    #page-header .logo-img {
      width: 180px; }
    #page-header #nav-pad {
      padding-top: 10px; }
    #page-header .navbar-default .navbar-nav > li > a {
      font-size: 12px; } }
  @media (max-width: 767px) {
    #page-header .logo-img {
      width: 118px; } }
  #page-header #heading-carousel {
    padding-top: 200px;
    text-align: center; }
    #page-header #heading-carousel .carousel {
      width: 640px;
      height: 360px; }
    #page-header #heading-carousel .carousel-inner h3 {
      font-family: "Arial Bold";
      font-size: 72px; }
    #page-header #heading-carousel .carousel-inner p {
      font-size: 72px; }
  #page-header .img-mouse {
    width: 50px;
    height: 80px;
    text-align: center; }
  #page-header .page-title h1 {
    font-family: arial bold;
    font-size: 72px;
    text-align: center;
    padding-top: 100px; }

/*secondary page (hero-small image ) CSS*/
.head-title {
  padding: 120px 0 126px 0;
  font-family: arial bold;
  font-size: 72px;
  text-align: center; }
  @media (max-width: 767px) {
    .head-title {
      padding: 75px 0 126px 0; } }

/*page-header css finish**/
@media (max-width: 991px) {
  #page-header {
    height: 800px; }
    #page-header.secondary-page {
      height: 65vh; }
    #page-header .page-title h1 {
      padding-top: 57px; } }
@media (max-width: 767px) {
  #page-header {
    height: 600px; }
    #page-header.secondary-page {
      height: 70vh; }
    #page-header .page-title h1 {
      padding-top: 35px; } }
/*nav bar test finish*/
/*-- Service section */
.section-header {
  text-align: center; }
  .section-header h1 {
    font-size: 36px; }
  .section-header p {
    font-size: 24px; }

.section-content {
  text-align: center; }

.service-block {
  text-align: center; }
  .service-block h2 {
    font-size: 24px; }
  .service-block p {
    font-size: 18px; }
  .service-block span {
    text-align: center; }
  .service-block img {
    height: 80px;
    width: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

/* @media (max-width: 991px){
     .service{
     font-family: Calibri light;
    padding-top: 60px;
    text-align: center;
    h1{
        font-size: 24px;
        
    }
    p{
        font-size: 18px;
    }
     
    }
    
    
    
}*/
@media (max-width: 767px) {
  .service {
    padding-top: 60px;
    text-align: center; }
    .service h1 {
      font-size: 22px; }
    .service p {
      font-size: 18px; } }
.line {
  margin-top: 60px;
  margin-bottom: 60px;
  opacity: 0.8;
  width: 80%; }

/*button CSS*/
.btn-primary {
  background-color: #f76f7f !important;
  border-color: #f76f7f !important;
  color: white !important; }

.btn {
  width: 235px;
  height: 50px;
  font-size: 24px;
  font-family: "Calibri bold"; }

.img-width {
  display: block;
  width: 100%;
  height: auto; }

/*banner test CSS*/
.banner-image {
  margin: 60px 0;
  background: url("../image/solving.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%; }

.banner-image .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 420px;
  color: white; }
  .banner-image .container h1 {
    padding-bottom: 30px;
    font-size: 36px;
    margin: 0px; }
  .banner-image .container p {
    font-size: 24px;
    padding-bottom: 60px;
    margin: 0px;
    text-align: center; }
  .banner-image .container .btn-secondary {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important; }

/* blog CSS Start*/
.blog {
  padding-bottom: 60px; }

.figure-block .figure-section {
  border: 1px solid #EDEDED;
  padding-left: 15px;
  padding-right: 15px; }
  .figure-block .figure-section .btn {
    position: absolute; }
.figure-block .figure-button {
  margin-top: -18px; }
.figure-block h2 {
  font-family: "Calibri bold";
  padding-top: 30px;
  font-size: 24px; }
  .figure-block h2 span {
    font-size: 13px; }
.figure-block p {
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 24px; }
@media (max-width: 1999px) {
  .figure-block h2 {
    font-size: 20px; } }
.figure-block p {
  padding-bottom: 30px; }

/* blog CSS finish*/
/*testimonial CSS*/
.testimonial {
  background-color: #EDEDED;
  width: 100%;
  height: auto;
  text-align: center; }
  .testimonial .main-block {
    padding-top: 60px;
    padding-bottom: 60px; }
    .testimonial .main-block h1 {
      font-family: "Calibri bold";
      font-size: 36x;
      padding-bottom: 40px; }
    .testimonial .main-block blockquote {
      line-height: 1.45;
      position: relative;
      color: black; }
      .testimonial .main-block blockquote p {
        margin-top: 20px;
        font-size: 24px; }
    .testimonial .main-block blockquote:before {
      content: "\201C";
      font-size: 80px;
      position: absolute;
      top: -30px; }
    .testimonial .main-block blockquote cite {
      font-size: 24px;
      display: block;
      margin-top: 30px;
      font-family: "Calibri bold"; }
      .testimonial .main-block blockquote cite p {
        margin-top: 5px;
        font-size: 20px; }
    .testimonial .main-block blockquote cite:before {
      content: "\2014 \2009"; }

/*testimonial CSS finish*/
/* Address CSS Start*/
.address-banner {
  padding: 60px 0;
  background-color: #404167;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: Calibri light;
  color: white; }
  .address-banner h1 {
    font-size: 36px; }
  .address-banner p {
    padding-top: 30px;
    font-size: 24px; }

/* Address CSS finish*/
/*---common padding CSS---*/
.project, .blog-latest {
  padding-bottom: 60px;
  /* Project Page CSS*/ }
  .project .section-header h1, .blog-latest .section-header h1 {
    padding-bottom: 60px;
    padding-top: 60px; }
  .project .blog-content, .blog-latest .blog-content {
    text-align: center; }
  .project .img-blog, .blog-latest .img-blog {
    margin: 0 auto;
    width: 940px;
    vertical-align: middle; }

/* about page CSS*/
.about {
  padding-bottom: 60px; }
  .about .section-header h1 {
    padding-bottom: 30px;
    padding-top: 60px; }
  .about .section-header .figure-heading {
    padding-top: 0px;
    padding-bottom: 0px; }
  .about .section-header .bold {
    font-family: "Calibri bold"; }
  .about img {
    width: 100%; }
  .about .banner-about {
    margin: 60px 0;
    background: url("../image/solving.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%; }
    .about .banner-about h3 {
      padding-top: 60px;
      font-size: 36px; }
    .about .banner-about p {
      padding-top: 30px;
      font-size: 30px; }
      @media (max-width: 991px) {
        .about .banner-about p {
          font-size: 26px; } }
    .about .banner-about .bold {
      font-family: "Calibri bold"; }
  .about .banner-about .container {
    text-align: center;
    height: 450px;
    max-height: auto;
    color: white; }
  .about .carousel-indicators {
    bottom: -65px; }

@media (max-width: 767px) {
  .team .section-header {
    padding-top: 60px; } }

/*footer CSS*/
.footer {
  background-color: #404167;
  color: white;
  text-align: center; }
  .footer .row {
    padding-top: 60px;
    padding-bottom: 60px; }
  .footer img {
    width: 40px;
    height: 40px;
    margin: 0 5px; }
  .footer p {
    padding-top: 20px;
    font-size: 12px; }

/*footer CSS finish*/

/*# sourceMappingURL=style.css.map */
