$primary-color:#f76f7f;
$footer-color:#404167;
$banner-color:#404167;
$secondary-color:#EDEDED;
.pad-top-30 {
    padding-top: 30px;
}
.pad-top-20 {
    padding-top: 20px;
}

.pad-bottom-60 {
    padding-bottom: 60px;
}

.pad-top-60 {
    padding-top: 60px;
}

@media (max-width: 991px) {
    .pad-top-sm-30 {
        padding-top: 30px;
    }
}

@media (max-width: 767px) {
    .pad-top-xs-30 {
        padding-top: 30px;
    }
}

@font-face {
    font-family: "Calibri light";
    src: url(css/font/Calibri/CalibriL.ttf);
}

@font-face {
    font-family: "Calibri bold";
    src: url(css/font/Calibri/calibrib.ttf);
}


body{
     font-family: "Calibri light";
}
#page-header {
    background-image: url('../image/hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1116px;
    //margin: 3px auto 0;
    position: relative;
    &.small-hero-img {
        background-image: url('../image/hero-small.jpg');
        height: 500px;
    }
    
    @media (max-width: 767px) {
    &.sm-page-header{
         background-image: url('../image/hero-small.jpg');
         height: 400px;
        }
    }
    
    @media (max-width: 767px) {
         &.small-hero-img {
            height: 400px;
    }
    }
    

    .navbar {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
        color: white;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        // border-bottom: 2px white solid;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        padding-top: 27px;
        @media (max-width: 767px) {
            padding-top: 0px;
        }
    }
    /* for small device navbar css*/
    .navbar-toggle {
        float: right;
        margin-top: 25px;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: white;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-nav>li>a {
        text-align: center;
        background-color: transparent;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>li>a:hover {
        background-color: transparent;
        border-bottom: 5px solid $primary-color;
        @media (max-width: 767px) {
            border-bottom: 0;
            span {
                border-bottom: 5px solid $primary-color;
            }
        }
    }
    #nav-pad {
        padding-top: 65px;
        border-spacing: 2px 0;
        border-bottom: 1px solid white;
        li {
            margin-bottom: 5px;
        }
        @media (max-width: 767px) {
            border-bottom: none;
            li {
                margin-bottom: 0px;
            }
        }
    }
    @media (max-width: 1199px) {
        .logo-img {
            width: 240px;
        }
        #nav-pad {
            padding-top: 30px;
        }
    }
    @media (max-width: 991px) {
        .logo-img {
            width: 180px;
        }
        #nav-pad {
            padding-top: 10px;
        }
        .navbar-default .navbar-nav>li>a {
            font-size: 12px;
        }
    }
    @media (max-width: 767px) {
        .logo-img {
            width: 118px;
        }
    }
    /*----carousel CSS ----*/
    #heading-carousel {
        padding-top: 200px;
        text-align: center;
        .carousel {
            width: 640px;
            height: 360px;
        }
        .carousel-inner {
            h3 {
                font-family: "Arial Bold";
                font-size: 72px;
            }
            p {
               // font-family: Calibri light;
                font-size: 72px;
            }
        }
        .carousel-indicators {
            /// bottom: -60px;
        }
    }
    .img-mouse {
        width: 50px;
        height: 80px;
        text-align: center;
    }
    .page-title {
        h1 {
            font-family: arial bold;
            font-size: 72px;
            text-align: center;
            padding-top: 100px;
        }
    }
}


/*secondary page (hero-small image ) CSS*/

.head-title{
    padding: 120px 0 126px 0;
    font-family: arial bold;
            font-size: 72px;
            text-align: center;
    @media (max-width: 767px) {
        
         padding: 75px 0 126px 0;
    }
}



/*page-header css finish**/

@media (max-width: 991px) {
    #page-header {
        height: 800px;
        &.secondary-page {
            height: 65vh;
        }
        .page-title h1 {
            padding-top: 57px;
        }
    }
}

@media (max-width: 767px) {
    #page-header {
        height: 600px;
        &.secondary-page {
            height: 70vh;
        }
        .page-title h1 {
            padding-top: 35px;
        }
    }
}


/*nav bar test finish*/


/*-- Service section */

.section-header {
   
    text-align: center;
    h1 {
        font-size: 36px;
        // font-family: "Calibri light";
    }
    p {
        font-size: 24px;
         //font-family: "Calibri light";
    }
}

.section-content {
    text-align: center;
}

.service-block {
    text-align: center;
    h2 {
        //font-family: Calibri light;
        font-size: 24px;
    }
    p {
        //font-family: Calibri light;
        font-size: 18px;
    }
    span {
        text-align: center;
    }
    img {
        height: 80px;
        width: 125px;
        display: block;
        //width: 100%;
        //height: auto;
        margin-left: auto;
        margin-right: auto
    }
}


/* @media (max-width: 991px){
     .service{
     font-family: Calibri light;
    padding-top: 60px;
    text-align: center;
    h1{
        font-size: 24px;
        
    }
    p{
        font-size: 18px;
    }
     
    }
    
    
    
}*/

@media (max-width: 767px) {
    .service {
        //font-family: Calibri light;
        padding-top: 60px;
        text-align: center;
        h1 {
            font-size: 22px;
        }
        p {
            font-size: 18px;
        }
    }
}

.line {
    margin-top: 60px;
    margin-bottom: 60px;
    opacity: 0.8;
    width: 80%;
}


/*button CSS*/

.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: white !important;
}

.btn {
    //border-radius: 5px;
    //font-weight: bold;
    width: 235px;
    height: 50px;
    font-size: 24px;
    font-family: "Calibri bold";
}

.img-width {
    display: block;
    width: 100%;
    height: auto;
}


/*banner test CSS*/

.banner-image {
    margin: 60px 0;
    background: url('../image/solving.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
}

.banner-image .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 420px;
    color: white;
    h1 {
        padding-bottom: 30px;
        font-size: 36px;
        margin: 0px;
    }
    p {
        font-size: 24px;
        padding-bottom: 60px;
        margin: 0px;
        text-align: center;
    }
    .btn-secondary {
        background-color: transparent!important;
        border-color: white !important;
        color: white !important;
    }
}


/* blog CSS Start*/

.blog {
    padding-bottom: 60px;
}

.figure-block {
    .figure-section {
        border: 1px solid #EDEDED;
       
       padding-left: 15px;
    padding-right: 15px;
        .btn {
            position: absolute;
        }
    }
    .figure-button {
        margin-top: -18px;
    }
    
     h2{
         font-family: "Calibri bold";
        padding-top: 30px;
        font-size: 24px;
          span {
            font-size: 13px;
        }
        
    }
    p{
         //font-family: "Calibri light";
         padding-top: 20px;
        padding-bottom: 60px;
        font-size: 24px;
        
    }
    @media (max-width: 1999px) {
        h2 {
            font-size: 20px;
        }
    }
    p {
        padding-bottom: 30px;
    }
}


/* blog CSS finish*/


/*testimonial CSS*/

.testimonial {
    background-color: $secondary-color;
    width: 100%;
    height: auto;
    text-align: center;
    .main-block {
        padding-top: 60px;
        padding-bottom: 60px;
        h1 {
            font-family: "Calibri bold";
            font-size: 36x;
            padding-bottom: 40px;
        }
        blockquote {
            //font-size: 24px;
            line-height: 1.45;
            position: relative;
            color: black;
            p {
                margin-top: 20px;
                font-size: 24px;
                //font-family: "Calibri light";
            }
        }
        blockquote:before {
            content: "\201C";
            font-size: 80px;
            position: absolute;
            top: -30px;
        }
        blockquote cite {
            font-size: 24px;
            display: block;
            margin-top: 30px;
            font-family: "Calibri bold";
            p {
                margin-top: 5px;
                font-size: 20px;
                //font-family: "Calibri light";
            }
        }
        blockquote cite:before {
            content: "\2014 \2009";
        }
    }
}


/*testimonial CSS finish*/


/* Address CSS Start*/

.address-banner {
    padding: 60px 0;
    background-color: $banner-color;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: Calibri light;
    color: white;
    h1 {
        font-size: 36px;
    }
    p {
        padding-top: 30px;
        font-size: 24px;
    }
}

.map {}


/* Address CSS finish*/

/*---common padding CSS---*/

.project,.blog-latest{
    
    padding-bottom: 60px;
    
    .section-header{
        h1{
            padding-bottom: 60px;
             padding-top: 60px;
                      
        }
        
        
        
    }

/* Project Page CSS*/


    .blog-content{
        text-align: center;
        //padding-top: 60px;
    }
    .img-blog{
        margin: 0 auto;
    width: 940px;
        vertical-align: middle;
          }    
    
}


/* about page CSS*/

.about{
         padding-bottom: 60px;
    
    .section-header{
        h1{
            padding-bottom: 30px;
             padding-top: 60px;
                      
        }
        .figure-heading{
            padding-top: 0px;
            padding-bottom: 0px;
            
        }
        .bold{
             font-family: "Calibri bold";
        }
    
    }
    img{
        width: 100%;
    }
    
    .banner-about {
    margin: 60px 0;
    background: url('../image/solving.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
       
       
        h3{
            padding-top: 60px;
            font-size: 36px;
             //font-family: "Calibri light";
            
        }
        p{
            padding-top: 30px;
            font-size: 30px;
             //font-family: "Calibri light";
            @media (max-width: 991px) {
                font-size: 26px;
            }
        }
        .bold{
            font-family: "Calibri bold";
        }
}

.banner-about .container {
    //display: table-cell;
    text-align: center;
    //vertical-align: middle;
    height: 450px;
    max-height: auto;
    color: white;
    }
    
    .carousel-indicators {
    bottom: -65px;
}
    
    
    
    
    
}

.team{
    
    @media (max-width: 767px) {
        
        .section-header{
           
                padding-top: 60px;
           
        }
        
        
        
    }
}




/*footer CSS*/

.footer {
    background-color: $footer-color;
    color: white;
    text-align: center;
    .row {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    img {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
    p {
        padding-top: 20px;
        font-size: 12px;
        //font-family: Calibri light;
    }
}


/*footer CSS finish*/